---
http_interactions:
- request:
    method: post
    uri: https://westus.api.cognitive.microsoft.com/vision/v1.0//analyze?visualFeatures=adult
    body:
      encoding: UTF-8
      string: '{"url":"http://bit.ly/2bZvQvK"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"adult":{"isAdultContent":false,"isRacyContent":false,"adultScore":0.010075492784380913,"racyScore":0.011676992289721966},"requestId":"86db783d-13c9-4d46-80ae-af188a415a78","metadata":{"width":790,"height":527,"format":"Jpeg"}}'
  recorded_at: Fri, 09 Sep 2016 17:29:44 GMT
recorded_with: VCR 3.0.3
