---
http_interactions:
- request:
    method: post
    uri: https://api.projectoxford.ai/vision/v1.0//analyze?visualFeatures=tags
    body:
      encoding: UTF-8
      string: '{"url":"http://bit.ly/2cg46o2"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"tags":[{"name":"animal","confidence":0.99996328353881836},{"name":"mammal","confidence":0.998883068561554,"hint":"animal"},{"name":"outdoor","confidence":0.90491616725921631}],"requestId":"f15cdb93-8999-492a-971e-0e50bc76a92f","metadata":{"width":480,"height":376,"format":"Jpeg"}}'
  recorded_at: Mon, 12 Sep 2016 20:28:03 GMT
recorded_with: VCR 3.0.3
