---
http_interactions:
- request:
    method: post
    uri: https://westus.api.cognitive.microsoft.com/vision/v1.0//analyze?visualFeatures=adult
    body:
      encoding: UTF-8
      string: '{"url":"http://bit.ly/2cLynuH"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"adult":{"isAdultContent":false,"isRacyContent":false,"adultScore":0.049632348120212555,"racyScore":0.18380215764045715},"requestId":"cb8cc9ce-f886-48ae-a3c3-80be8cccb15f","metadata":{"width":630,"height":371,"format":"Jpeg"}}'
  recorded_at: Fri, 09 Sep 2016 17:27:15 GMT
recorded_with: VCR 3.0.3
