---
http_interactions:
- request:
    method: post
    uri: https://westus.api.cognitive.microsoft.com/vision/v1.0//analyze?visualFeatures=adult
    body:
      encoding: UTF-8
      string: '{"url":"http://bit.ly/2cIyJy1"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"adult":{"isAdultContent":true,"isRacyContent":true,"adultScore":0.70057594776153564,"racyScore":0.94758439064025879},"requestId":"cfad1c5c-f746-472e-97ae-64fbcd50ec24","metadata":{"width":300,"height":454,"format":"Gif"}}'
  recorded_at: Fri, 09 Sep 2016 17:15:45 GMT
recorded_with: VCR 3.0.3
