---
http_interactions:
- request:
    method: post
    uri: https://westus.api.cognitive.microsoft.com/vision/v1.0//analyze?visualFeatures=categories
    body:
      encoding: UTF-8
      string: '{"url":"http://bit.ly/2cqO4VM"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"categories":[{"name":"animal_panda","score":0.99609375}],"requestId":"4bc99206-5d19-444e-a52e-54ad63ec07a1","metadata":{"width":676,"height":474,"format":"Jpeg"}}'
  recorded_at: Mon, 12 Sep 2016 18:56:58 GMT
recorded_with: VCR 3.0.3
