---
http_interactions:
- request:
    method: post
    uri: https://api.projectoxford.ai/vision/v1.0//analyze?visualFeatures=Faces
    body:
      encoding: UTF-8
      string: '{"url":"http://vignette4.wikia.nocookie.net/gameofthrones/images/5/56/Jon_Kill_the_Boy.jpg"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"requestId":"92f23e23-c41f-4c4d-924a-ec8f56856a58","metadata":{"width":4057,"height":2700,"format":"Jpeg"},"faces":[{"age":32,"gender":"Male","faceRectangle":{"left":1963,"top":610,"width":667,"height":667}}]}'
  recorded_at: Tue, 30 Aug 2016 18:23:16 GMT
recorded_with: VCR 3.0.3
