---
http_interactions:
- request:
    method: post
    uri: https://westus.api.cognitive.microsoft.com/vision/v1.0//analyze?visualFeatures=faces
    body:
      encoding: UTF-8
      string: '{"url":"http://images.example.com/mynonexistenturl.jpg"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"InvalidImageUrl","requestId":"db8d6b21-5b56-4a0f-b1a8-005cc89b8c0e","message":"Image
        URL is not accessible."}'
  recorded_at: Fri, 09 Sep 2016 15:29:26 GMT
recorded_with: VCR 3.0.3
