---
http_interactions:
- request:
    method: post
    uri: https://api.projectoxford.ai/vision/v1.0//analyze?visualFeatures=Faces
    body:
      encoding: UTF-8
      string: '{"url":"http://images.example.com/mynonexistenturl.jpg"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"InvalidImageUrl","requestId":"9cb85f2b-f25a-44de-8d1d-2db7e278d094","message":"Image
        URL is not accessible."}'
  recorded_at: Sat, 03 Sep 2016 00:20:54 GMT
recorded_with: VCR 3.0.3
