---
http_interactions:
- request:
    method: post
    uri: https://api.projectoxford.ai/vision/v1.0//analyze?visualFeatures=Faces
    body:
      encoding: UTF-8
      string: '{"url":"http://images.example.com/mynonexistenturl.jpg"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"InvalidImageUrl","requestId":"12db53d4-bee4-4586-9c97-adc2588f5747","message":"Image
        URL is not accessible."}'
  recorded_at: Wed, 31 Aug 2016 21:00:39 GMT
recorded_with: VCR 3.0.3
