---
http_interactions:
- request:
    method: post
    uri: https://westus.api.cognitive.microsoft.com/vision/v1.0//analyze?visualFeatures=faces
    body:
      encoding: UTF-8
      string: '{"url":"http://vignette4.wikia.nocookie.net/gameofthrones/images/5/56/Jon_Kill_the_Boy.jpg"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"requestId":"e2818ef6-b857-47b9-a9e9-c1415fe58606","metadata":{"width":4057,"height":2700,"format":"Jpeg"},"faces":[{"age":33,"gender":"Male","faceRectangle":{"left":1950,"top":599,"width":682,"height":682}}]}'
  recorded_at: Fri, 09 Sep 2016 15:29:29 GMT
recorded_with: VCR 3.0.3
