---
http_interactions:
- request:
    method: post
    uri: https://api.projectoxford.ai/vision/v1.0//analyze?visualFeatures=faces
    body:
      encoding: UTF-8
      string: '{"url":"http://images.example.com/mynonexistenturl.jpg"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"InvalidImageUrl","requestId":"4eabbed3-596f-488b-a433-492fbff2566d","message":"Image
        URL is not accessible."}'
  recorded_at: Fri, 09 Sep 2016 15:13:55 GMT
recorded_with: VCR 3.0.3
