---
http_interactions:
- request:
    method: post
    uri: https://api.projectoxford.ai/vision/v1.0//analyze?visualFeatures=Faces
    body:
      encoding: UTF-8
      string: '{"url":"http://bit.ly/2bJ7V3w"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"InvalidImageSize","requestId":"fe054c42-ba37-4a1f-be9c-2c9df184520a","message":"Image
        must be at least 50 pixels in width and height"}'
  recorded_at: Sat, 03 Sep 2016 00:20:55 GMT
recorded_with: VCR 3.0.3
