---
http_interactions:
- request:
    method: post
    uri: https://westus.api.cognitive.microsoft.com/vision/v1.0//analyze?visualFeatures=description
    body:
      encoding: UTF-8
      string: '{"url":"http://bit.ly/2cmdzpS"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"description":{"tags":["bird","sitting","small","car","piece","top","table","standing","close","cake","cat","black","blue","mirror","large","reflection","rain","perched","white","man"],"captions":[{"text":"a
        close up of a bird feeder","confidence":0.17023945628930048}]},"requestId":"3593683e-355a-4cbb-aa06-55ad09d16b82","metadata":{"width":1920,"height":1080,"format":"Jpeg"}}'
  recorded_at: Mon, 12 Sep 2016 21:23:48 GMT
recorded_with: VCR 3.0.3
