---
http_interactions:
- request:
    method: post
    uri: https://api.projectoxford.ai/vision/v1.0//analyze?visualFeatures=faces
    body:
      encoding: UTF-8
      string: '{"url":"http://bit.ly/2bJ7V3w"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"InvalidImageSize","requestId":"87147d34-c2b9-4237-9145-bd1d4913eb7b","message":"Image
        must be at least 50 pixels in width and height"}'
  recorded_at: Fri, 09 Sep 2016 15:13:56 GMT
recorded_with: VCR 3.0.3
