---
http_interactions:
- request:
    method: post
    uri: https://westus.api.cognitive.microsoft.com/vision/v1.0//analyze?visualFeatures=adult
    body:
      encoding: UTF-8
      string: '{"url":"http://bit.ly/2cgPzCU"}'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"adult":{"isAdultContent":true,"isRacyContent":true,"adultScore":0.51825153827667236,"racyScore":0.73191100358963013},"requestId":"d15b5291-faca-4312-9a03-7d7d0d0ad3ca","metadata":{"width":300,"height":366,"format":"Jpeg"}}'
  recorded_at: Fri, 09 Sep 2016 17:28:40 GMT
recorded_with: VCR 3.0.3
